# Python
__pycache__/
*.py[cod]
*.so
.pytest_cache/
.coverage
htmlcov/

# Virtual env
.venv/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json

# OS/editor
.DS_Store
._*
.vscode/settings.json

# Local env secrets
.env
