[tool.ruff]
line-length = 120
target-version = "py312"
exclude = [
  ".git",
  ".terraform",
  ".venv",
]

[tool.ruff.lint]
select = ["E", "F"]
ignore = []

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
